* {
    font-family: var(--vscode-editor-font-family);
    font-weight: var(--vscode-editor-font-weight);
    font-size: var(--vscode-editor-font-size);
}

.textbox {
	overflow: auto;
	text-align: right;
	height: 8em;
	border: 1px solid black;
	padding: 2px;
	overflow:hidden;
}

/* The heading of the table. */
.heading {
	text-align: right;
}


/* The class for detailed content. I.e. when expanded. */
.row {
	display: table-row;
}

/* Class for the divs inside the details. */
.clmn {
	display: table-cell;
	padding: 0.25em;
}

/* Style of the input boxes. */
input {
	width: 100%;
	box-sizing: border-box;
	text-align: right;
	padding: 2px;
	text-transform: uppercase;
}

/* Style of the button. */
button {
	margin: 2px;
}


/* Is added if an erroneous input is found (input box). */
.error {
	color: red;
}


.button-donate {
  background-color: yellow;
  color: black;
}
